@model ForgetPassword
@{
    Layout = "_ExternalLayout";
}

<div class="container">
    <div class="row">
        <div class="col-md-4 col-sm-6 col-md-offset-4 col-sm-offset-3">
            <form asp-antiforgery="true" class="form-signin">
                <div class="card card-login">
                    <div class="card-header text-center" data-background-color="blue">
                        <h4 class="card-title">Password Reset Request </h4>
                    </div>
                    @if (ViewBag.SucessMessage != null)
                    {
                        <div class="card-content">
                            <h3>@ViewBag.SucessMessage</h3>
                        </div>
                    }
                    else
                    {
                    <div class="card-content">

                        <div asp-validation-summary="ModelOnly"></div>
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="material-icons">email</i>
                            </span>
                            <div class="form-group label-floating">
                                <label class="control-label">Email address</label>
                                <input asp-for="Email" type="email" class="form-control">
                                <span asp-validation-for="Email" class="text-danger"></span>

                            </div>
                        </div>
                    </div>
                    <div class="footer text-center">
                        <button type="submit" class="btn btn-rose btn-simple btn-wd btn-lg">Send Reset Request</button>
                    </div>
                    }
                </div>
            </form>
        </div>
    </div>
</div>
