@model ResetPassword
@{
    Layout = "_ExternalLayout";
}
<div class="container">
    <div class="row">
        <div class="col-md-4 col-sm-6 col-md-offset-4 col-sm-offset-3">
            <form asp-antiforgery="true" class="form-signin">
                <div class="card card-login">
                    <div class="card-header text-center" data-background-color="blue">
                        <h4 class="card-title">Reset Password</h4>
                    </div>

                    <div class="card-content">
                        @Html.HiddenFor(m => m.Id)
                        <div asp-validation-summary="ModelOnly"></div>
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="material-icons">lock_outline</i>
                            </span>
                            <div class="form-group label-floating">
                                <label class="control-label">Password</label>
                                <input asp-for="Password" type="password"  class="form-control" autocomplete="off">
                                <span asp-validation-for="Password" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="material-icons">lock_outline</i>
                            </span>
                            <div class="form-group label-floating">
                                <label class="control-label">Confirm Password</label>
                                <input asp-for="ConfirmPassword" type="password" class="form-control" autocomplete="off">
                                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="footer text-center">
                        <button type="submit" class="btn btn-rose btn-simple btn-wd btn-lg">Change Password</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>