@model UserViewModel


@{
    ViewData["Title"] = "Create User";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header card-header-icon" data-background-color="green">
                    User
                </div>
                <div class="card-content">

                    <form method="post" role="form" asp-antiforgery="true" class="with-ajax">
                        <div>
                            @Html.HiddenFor(m => m.Id)
                        </div>
                        <div class="row mrgnTop30">
                            <div class="col-sm-12">
                                <div asp-validation-summary="ModelOnly"></div>
                            </div>
                        </div>
                        <div class="col-sm-10">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group label-floating">
                                        <label asp-for="Email" class="control-label"></label>
                                        <input asp-for="Email" type="text" class="form-control">
                                        <span asp-validation-for="Email" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group label-floating">
                                        <label asp-for="Permission" class="control-label"></label>
                                        <select asp-for="Permission" asp-items="Model.systemPermission" class="form-control"></select>
                                        <span asp-validation-for="Permission" class="text-danger"></span>
                                    </div>
                                </div>

                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group label-floating">
                                        <label asp-for="FirstName" class="control-label"></label>
                                        <input asp-for="FirstName" type="text" class="form-control">
                                        <span asp-validation-for="FirstName" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group label-floating">
                                        <label asp-for="LastName" class="control-label"></label>
                                        <input asp-for="LastName" type="text" class="form-control">
                                        <span asp-validation-for="LastName" class="text-danger"></span>
                                    </div>
                                </div>

                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group label-floating">
                                        <label asp-for="Password" class="control-label"></label>
                                        <input asp-for="Password" type="Password" class="form-control">
                                        <span asp-validation-for="Password" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group label-floating">
                                        <label asp-for="ConfirmPassword" class="control-label"></label>
                                        <input asp-for="ConfirmPassword" type="Password" class="form-control">
                                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                                    </div>
                                </div>

                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <button type="submit" class="btn btn-fill btn-rose">Save<div class="ripple-container"></div></button>
                               
                                    <a asp-controller="users" asp-action="Cancel"> Cancel</a>
                                </div>
                            </div>
                        </div>

                    </form>

                    <!-- end content-->
                </div>
                <!--  end card  -->
            </div>
            <!-- end col-md-12 -->
        </div>
        <!-- end row -->
    </div>
</div>

