@model AccountSettingModel
@{
    ViewData["Title"] = "Account Info";
    Layout = "~/Views/Shared/_InternalLayout.cshtml";
}
@*test*@
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header card-header-icon" data-background-color="green">
                    <i class="material-icons">settings</i>
                </div>

                <div class="card-content clearfix">
                    <h4 class="card-title pull-left">
                        @ViewData["Title"]
                    </h4>
                    <div class="toolbar cl-addbtn-outer">
                        <div class="row">
                            <div class="col-sm-12">

                            </div>
                        </div>
                        <form method="post" role="form" enctype="multipart/form-data" asp-antiforgery="true" class="with-loader">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div asp-validation-summary="ModelOnly"></div>
                                </div>
                            </div>
                            @Html.HiddenFor(m => m.Id)
                            @Html.HiddenFor(m => m.AttachmentId)
                            <div class="row">
                                <div class="col-sm-6">
                                    <input asp-for="Name" class="form-control" placeholder="Account Name">
                                    <span asp-validation-for="Name" class="text-danger"></span>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group label-floating togglebutton">
                                        <label>
                                            <input type="checkbox" asp-for="AllowPublicRegistration"> Allow Public Registration
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="row mt">
                                <div class="col-xs-12">
                                    <strong>Contact Information</strong><br />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group label-floating">
                                        <input asp-for="ContactEmail" type="text" class="form-control" placeholder="Contact Email">
                                        <span asp-validation-for="ContactEmail" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group label-floating">

                                        <input asp-for="ContactNumber" type="text" class="form-control" placeholder="Contact Number">
                                        <span asp-validation-for="ContactNumber" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group label-floating">
                                        <input asp-for="Address1" type="text" class="form-control" placeholder="Address 1">
                                        <span asp-validation-for="Address1" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group label-floating">

                                        <input asp-for="Address2" type="text" class="form-control" placeholder="Address 2">
                                        <span asp-validation-for="Address2" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group label-floating">

                                        <input asp-for="City" type="text" class="form-control" placeholder="City">
                                        <span asp-validation-for="City" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group label-floating">
                                        <input asp-for="State" type="text" class="form-control" placeholder="State">
                                        <span asp-validation-for="State" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group label-floating">

                                        <input asp-for="Zip" type="text" class="form-control" placeholder="Zip">
                                        <span asp-validation-for="Zip" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="row mt">
                                <div class="col-xs-12">
                                    <strong>Logo</strong><br />
                                </div>
                            </div>
                            <div class="row mt">
                                <div class="col-md-4 col-sm-4">
                                    <div class="fileinput fileinput-new text-center" data-provides="fileinput">
                                        <div class="fileinput-new thumbnail">
                                            @if (!string.IsNullOrWhiteSpace(Model.ImageName))
                                            {
                                                <img src="data:image/png;base64,@Model.ImageName" alt="..." />

                                            }
                                            else
                                            {
                                                <img src="~/images/image_placeholder.jpg" alt="..." />
                                            }
                                        </div>
                                        <div class="fileinput-preview fileinput-exists thumbnail"></div>
                                        <div>
                                            <span class="btn btn-rose btn-round btn-file">
                                                <span class="fileinput-new">Select image</span>
                                                <span class="fileinput-exists">Change</span>
                                                <input type="file" name="files" accept=".png, .gif, .jpg, .jpeg" />
                                            </span>
                                            <a href="#pablo" class="btn btn-danger btn-round fileinput-exists" data-dismiss="fileinput"><i class="fa fa-times"></i> Remove</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <button type="submit" class="btn btn-fill btn-rose">Update<div class="ripple-container"></div></button>

                                    <a asp-action="Info" asp-controller="AccountSettings"> Cancel</a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <!-- end content-->

        </div>
        <!--  end card  -->
    </div>
    <!-- end col-md-12 -->
</div>
@section scripts
{
    <script async defer
            src="~/js/jasny-bootstrap.min.js">
    </script>

    <script type="text/javascript">
        $(document).ready(function () {
            var Successmsg = '@Html.Raw(ViewBag.SucessMessage)';
            if (Successmsg) {
                demo.showNotification("success", Successmsg);
            }
        });
    </script>

}



