.navbar-brand {
    margin-left: 0px !important;
}

.validation-summary-errors {
    color: #f44336;
}

/*Start by nancy*/

.AgreeClass label {
    padding-left: 19px;
}

.AgreeClass input[type="checkbox"] {
    margin: 6px 6px 6px 22px;
}

.mrgnTop30 {
    margin-top: 30px;
}

.mrgnTop50 {
    margin-top: 50px;
}

.mrgnTop10 {
    margin-top: 10px;
}

.blue-link {
    background-color: transparent;
    box-shadow: none;
    color: #00bcd4;
}

    .blue-link:hover, .blue-link:focus {
        color: #00bcd4 !important;
        text-decoration: none !important;
    }


th .HeadColor {
    color: #3c4858 !important;
}

.pagination {
    margin: 0px !important;
    float: right;
}

.fltrght {
    float: right;
}

.srchbtn {
    margin-top: 20px;
    padding-left: 0px;
}


.responsivetable {
    overflow: auto;
    float: left;
    width: 100%;
    margin-bottom: 30px;
}

    .responsivetable table {
        width: 100%;
        min-width: 600px !important;
        max-width: inherit !important;
    }

.wrdwrap {
    word-break: break-all;
}

.AccountAction {
    padding-left: 25px;
    padding-right: 0px;
}

.metric-label {
    font-weight: 600;
}

.metric-value {
}

#sidebarNav li.active > [data-toggle="collapse"] {
    background-color: #00bcd4 !important;
    box-shadow: 0 4px 20px 0 rgba(0,0,0,.14),0 7px 10px -5px rgba(0,188,212,.4) !important
}

/*End by nancy*/
/*Start by gurpreet*/
.mrgnTopBottom {
    margin-top: 20px;
    margin-bottom: 20px;
}

.dataTablesPTop {
    padding-top: 25px !important;
}

.logo img {
    max-width: 80px
}
/*End by gurpret*/
/**
 * Utilities
 */
.m0 {
    margin: 0 !important;
}

.ml0 {
    margin-left: 0 !important;
}

.mr0 {
    margin-right: 0 !important;
}

.mt0 {
    margin-top: 0 !important;
}

.mb0 {
    margin-bottom: 0 !important;
}

.m {
    margin: 16px !important;
}

.ml {
    margin-left: 16px !important;
}

.mr {
    margin-right: 16px !important;
}

.mt {
    margin-top: 16px !important;
}

.mb {
    margin-bottom: 16px !important;
}

.m-sm {
    margin: 8px !important;
}

.ml-sm {
    margin-left: 8px !important;
}

.mr-sm {
    margin-right: 8px !important;
}

.mt-sm {
    margin-top: 8px !important;
}

.mb-sm {
    margin-bottom: 8px !important;
}

.m-lg {
    margin: 24px !important;
}

.ml-lg {
    margin-left: 24px !important;
}

.mr-lg {
    margin-right: 24px !important;
}

.mt-lg {
    margin-top: 24px !important;
}

.mb-lg {
    margin-bottom: 24px !important;
}

.m-xl {
    margin: 32px !important;
}

.ml-xl {
    margin-left: 32px !important;
}

.mr-xl {
    margin-right: 32px !important;
}

.mt-xl {
    margin-top: 32px !important;
}

.mb-xl {
    margin-bottom: 32px !important;
}

.mv {
    margin-top: 16px !important;
    margin-bottom: 16px !important;
}

.mh {
    margin-left: 16px !important;
    margin-right: 16px !important;
}

.mv-xl {
    margin-top: 32px !important;
    margin-bottom: 32px !important;
}

.mh-xl {
    margin-left: 32px !important;
    margin-right: 32px !important;
}

.mv-lg {
    margin-top: 24px !important;
    margin-bottom: 24px !important;
}

.mh-lg {
    margin-left: 24px !important;
    margin-right: 24px !important;
}

.mv-sm {
    margin-top: 8px !important;
    margin-bottom: 8px !important;
}

.mh-sm {
    margin-left: 8px !important;
    margin-right: 8px !important;
}

.p0 {
    padding: 0 !important;
}

.pl0 {
    padding-left: 0 !important;
}

.pr0 {
    padding-right: 0 !important;
}

.pt0 {
    padding-top: 0 !important;
}

.pb0 {
    padding-bottom: 0 !important;
}

.pv0 {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.ph0 {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.p {
    padding: 16px !important;
}

.pl {
    padding-left: 16px !important;
}

.pr {
    padding-right: 16px !important;
}

.pt {
    padding-top: 16px !important;
}

.pb {
    padding-bottom: 16px !important;
}

.p-sm {
    padding: 4px !important;
}

.pl-sm {
    padding-left: 4px !important;
}

.pr-sm {
    padding-right: 4px !important;
}

.pt-sm {
    padding-top: 4px !important;
}

.pb-sm {
    padding-bottom: 4px !important;
}

.p-lg {
    padding: 24px !important;
}

.pl-lg {
    padding-left: 24px !important;
}

.pr-lg {
    padding-right: 24px !important;
}

.pt-lg {
    padding-top: 24px !important;
}

.pb-lg {
    padding-bottom: 24px !important;
}

.p-xl {
    padding: 32px !important;
}

.pl-xl {
    padding-left: 32px !important;
}

.pr-xl {
    padding-right: 32px !important;
}

.pt-xl {
    padding-top: 32px !important;
}

.pb-xl {
    padding-bottom: 32px !important;
}

.pv {
    padding-top: 16px !important;
    padding-bottom: 16px !important;
}

.ph {
    padding-left: 16px !important;
    padding-right: 16px !important;
}

.pv-xl {
    padding-top: 32px !important;
    padding-bottom: 32px !important;
}

.ph-xl {
    padding-left: 32px !important;
    padding-right: 32px !important;
}

.pv-lg {
    padding-top: 24px !important;
    padding-bottom: 24px !important;
}

.ph-lg {
    padding-left: 24px !important;
    padding-right: 24px !important;
}

.pv-sm {
    padding-top: 4px !important;
    padding-bottom: 4px !important;
}

.ph-sm {
    padding-left: 4px !important;
    padding-right: 4px !important;
}

/*Responsive design*/
@media screen and (max-width: 767px) {
    .cl-addbtn-outer {
        float: left;
        width: 100%;
    }

        .cl-addbtn-outer .btn-addcl {
            position: relative;
            z-index: 2;
        }

    .srchbtn {
        margin-top: 0;
        padding-left: 15px;
    }

    .register-nav .navbar-brand {
        padding: 0 15px !important;
    }

    .register-nav .navbar-header {
        float: left;
        width: auto;
    }

    .register-nav .navbar-collapse {
        float: right;
        width: auto;
    }

    .register-content {
        padding-top: 22vh !important;
    }

    .wrapper {
        height: 100% !important;
    }

    .cl_smAttch {
        word-break: break-all;
        float: left;
        width: 100%;
        margin: 10px 0 0 0;
    }

    .pt-lg {
        padding-top: 24px !important;
    }

    .pt20 {
        padding-top: 20px !important;
    }
}

.swal2-container:not(.swal2-in) {
    pointer-events: inherit !important;
}

